hostname {{hostname}}
user {{switch_user}} group administrators password {{switch_pw}}
interface mgmt
    no shutdown
    ip static {{mgmt_int_ip}}/24
    default-gateway {{mgmt_int_gw}} 
vlan 210
 name MGMT-VLAN
vlan 211-212
interface lag 100
 no shutdown
 no routing
 lacp mode active
 vlan trunk native 210
 vlan trunk allowed 210-212
ntp server 10.231.100.220 
ntp enable
ip dns server 10.231.100.220
ip dns server-address 10.251.100.220 vrf mgmt
